In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from tensorflow import keras

In [2]:
df = pd.read_csv("./data_set.csv")
df.head()

   id       item     month  count
0   1  baby_soap   january    500
1   2  baby_soap  february    575
2   3  baby_soap     march    520
3   4  baby_soap     april    610
4   5  baby_soap       may    523

In [3]:
df['count'].value_counts()

count
533    3
548    3
518    3
600    2
520    2
610    2
523    2
546    2
538    2
526    2
510    2
524    1
530    1
532    1
535    1
500    1
531    1
534    1
567    1
547    1
575    1
516    1
Name: count, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['count'] = le.fit_transform(df['count'])
df.head()

   id       item     month  count
0   1  baby_soap   january      0
1   2  baby_soap  february     19
2   3  baby_soap     march      4
3   4  baby_soap     april     21
4   5  baby_soap       may      5

In [6]:
count_class = le.classes_

In [7]:
X = df.drop(columns=['id', 'count'])
y = df['count']
X.head(3)

        item     month
0  baby_soap   january
1  baby_soap  february
2  baby_soap     march

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=69)

In [ ]:
x_train.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
print(x_train[:1])
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
print(x_train[:1])
print(x_test[:1])

In [ ]:
y_train = keras.utils.to_categorical(y_train, num_classes=1706)
print(y_train[:5])

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

model = Sequential()
model.add(Dense(units=32, activation='relu', input_shape=(x_train.shape[-1], )))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=256, activation='relu'))  # Additional hidden layer
model.add(Dense(units=128, activation='relu'))   # Another additional hidden layer
model.add(Dense(units=64, activation='relu'))   # You can add more layers if needed
model.add(Dropout(0.5))
model.add(Dense(units=1706, activation='softmax'))

In [ ]:
model.compile(optimizer='Adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

In [ ]:
model.fit(x_train, y_train, epochs=1000, verbose=2)

In [ ]:
prediction = model.predict(x_test)

In [ ]:
model.save('item_model.h5', model)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from tensorflow import keras
from keras.models import load_model
df = pd.read_csv("./data_set.csv")
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
le = LabelEncoder()
df['count'] = le.fit_transform(df['count'])
X = df.drop(columns=['id', 'count'])
y = df['count']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=69)
x_train = sc.fit_transform(x_train)
model = load_model('item_model.h5')
affecting_parameter_name = le.classes_


# Initialize an empty list to store the captured values
captured_values = []

# Define a while loop that continues indefinitely
while True:
    # Prompt the user for input
    message = input("Enter a value (or type 'done' to finish): ")

    # Check if the user wants to exit the loop
    if message.lower() == 'done':
        break  # Exit the loop if the user types 'done'

    # Convert the input value to the appropriate data type and append it to the list
    try:
        value = float(message)  # Convert input to float
        captured_values.append(value)
    except ValueError:
        print("Invalid input. Please enter a valid number.")

# Ensure that exactly four values were captured
if len(captured_values) == 4:  # Check if exactly five values were captured
    # Assign the captured values to data1, data2, data3, and data4
    data1, data2, data3, data4 = captured_values
    X_new = np.array([[data1 , data2, data3, data4 ]])
    x_test = sc.transform(X_new)
    prediction = model.predict(x_test)
    prediction = np.argmax(prediction, axis=-1)
    error = (affecting_parameter_name[prediction[:1][0]]/0.2853)*14
    print("Most Suitable Count:",error,"%")

else:
    print("Please enter exactly five values.")